<div class="container">
	<h1>{{ site.texture.title }}</h1>
	<h2>{{ site.texture.tagline }}</h2>
	<div style="color: #999; margin-bottom: 20px">
            <span  id="busuanzi_container_site_pv">字数：
              {% assign count = 0 %}
              {% for post in site.posts %}
              {% assign single_count = post.content | strip_html | strip_newlines | remove: " " | size %}
              {% assign count = count | plus: single_count %}
              {% endfor %}
              {% if count > 10000 %}
              {{ count | divided_by: 10000 }} 万 {{ count | modulo: 10000 }}
              {% else %}
            {{ count }}
          {% endif %} 
          &nbsp;&nbsp;
           <span id="busuanzi_container_site_uv">访客数：<span id="busuanzi_value_site_uv"></span></span>
       </div>
	<ul class="social">
		{%- if site.texture.social_links.github -%}
			<a href="https://github.com/{{ site.texture.social_links.github }}"><li><i class="icon-github-circled"></i></li></a>
		{%- endif -%}
		{%- if site.texture.social_links.linkedIn -%}
			<a href="https://linkedin.com/{{ site.texture.social_links.linkedIn }}"><li><i class="icon-linkedin-squared"></i></li></a>
		{%- endif -%}
		{%- if site.texture.social_links.twitter -%}
			<a href="https://twitter.com/{{ site.texture.social_links.twitter }}"><li><i class="icon-twitter-squared"></i></li></a>
		{%- endif -%}
		{%- if site.texture.social_links.jianshu -%}
			<a href="https://www.jianshu.com/u/{{ site.texture.social_links.jianshu }}"><li><img class="social_icon" src="{{ site.baseurl }}/assets/icon/icon_jianshu.png"></li></a>
		{%- endif -%}
		{%- if site.texture.social_links.zhihu -%}
			<a href="https://www.zhihu.com/people/{{ site.texture.social_links.zhihu }}"><li><img class="social_icon" src="{{ site.baseurl }}/assets/icon/icon_zhihu.png"></i></li></a>
		{%- endif -%}
		{%- if site.texture.social_links.csdn -%}
			<a href="https://blog.csdn.net/{{ site.texture.social_links.csdn }}"><li><img class="social_icon" src="{{ site.baseurl }}/assets/icon/icon_csdn.png"></img></li></a>
		{%- endif -%}
		{%- if site.texture.social_links.sspai -%}
			<a href="https://sspai.com/u/{{ site.texture.social_links.sspai }}"><li><img class="social_icon" src="{{ site.baseurl }}/assets/icon/icon_sspai.png"></img></li></a>
		{%- endif -%}
		{%- if site.texture.social_links.juejin -%}
			<a href="https://juejin.im/user/{{ site.texture.social_links.juejin }}"><li><img class="social_icon" src="{{ site.baseurl }}/assets/icon/icon_juejin.png"></img></li></a>
		{%- endif -%}
	</ul>

</div>
