<!DOCTYPE html>
<html lang="zh-CN">
<head>
  {%- include head.html -%}
</head>
<body>
  <header class="texture-{{ site.texture.style }}">
    <div class="container">
      {%- include nav.html -%}
    </div>
    {%- include post_header.html -%}  
  </header>
  <main>
    <div class="container">
      <div class="post-container markdown-body">
          {{ content }}
      </div>

     
      <!-- Gitalk 评论 start  -->

 {%- if site.function.gitalk_id and site.function.gitalk_secret -%}
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
  <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<div id="gitalk-container"></div>     
<script type="text/javascript">
    var gitalk = new Gitalk({

    // gitalk的主要参数
    clientID: '{{site.function.gitalk_id}}',
    clientSecret: "{{site.function.gitalk_secret}}",
    repo: '{{site.function.gitalk_repo}}',
    owner: 'Warl-G',
    admin: ['Warl-G'],
    id: location.pathname,
    });
    gitalk.render('gitalk-container');
</script> 

      {%- endif -%}
      <!-- Gitalk end -->

        <!-- Configure Disqus -->
      {%- if site.texture.disqus_shortname -%}
        <div id="disqus_thread" style="margin-top:25px"></div>
        <script>
          var disqus_config = function () {
            this.page.url = '{{ page.url | absolute_url }}';
            this.page.identifier = '{{ page.url | absolute_url }}';
          };
          (function() {
            var d = document, s = d.createElement('script');
            s.src = 'https://{{ site.texture.disqus_shortname }}.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      {%- endif -%}
    </div>
  </main>
  {%- include c_footer.html -%}
</body>
</html>